.clearer{d
	clear:both;
}
label{
	color:#506877;
	font-weight:bold;
}
select, input/*input[type=text], input[type=button], input[type=submit], input[type=reset]*/{
	background-color:#479496;
/*	color:#FFFFFF;*/
	color:black;
	border-color:#479496;
}
input/*input[type=button], input[type=submit], input[type=reset]*/{
	border: 1px solid #97D4D6
}
select{
	width: 130px;
	border: 1px solid #FFFFFF;
}
input[type=text]{
	width: 126px;
}
hr{
	color: #90959C;
	border: 1px solid;
}
input[type=image]{
	border:none;
	background:none;
}
/*
.boton[type=submit]{
	border:none;
}*/
#ar-de-ab-iz-abajo{
	position:relative;
}
.search_form{
	position:absolute;
	right:0px;
	width:307px;
	padding-top:20px;
	padding-right:10px;
}
.catalogo_default #ar-de-ab-iz-abajo{
	/*padding-top:17px;
	padding-left:13px;*/
}
.catalogo_default #ar-de-ab-iz-abajo .carrito{
	width:198px;
	height:57px;
	float:left;
} 
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro{
	width:307px;
	height:57px;
	/*float:left;*/
	clear:right;
	/*padding-left:24px;*/
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro div{
	display:inline;
	float:left;
	margin-left:15px;
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .seleccion div{
	float:left;
	display:inline;
	margin-left:15px;
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro div select,
.catalogo_default #ar-de-ab-iz-abajo .search_form .seleccion div select{
	display:block;
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .seleccion{
	clear:left;
	/*padding-left:200px;
	float:left;*/
	float:left;
	width:100%;
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .textsearch{
	margin-top:10px;
}
/*Mat*/
ul{
	padding:0px;
	margin:0;
}
li{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	list-style:none;
}
.mostrarProductos li{
	width:167px;
	/*width:33%;*/
	/*Mat, modifico la imagen de background para que quede mas alta*/
	/*height:180px;*/
	position:relative;
	height:212px;
	display:block;
	float:left;
	margin-left:6px;
	margin-top:10px;
	background: url(../img/bck_productos.png);
}
.mostrarProductos{
	float:left;
	margin-left:1px;
	margin-top:0;
	clear:right;
	position:relative;
}
.nombreProducto{
	color:#B12B2E;
	text-transform:capitalize;
	font-size:0.6em;
	font-weight:bold;
	padding-left:5px;
}
.marcaProducto{
	/*color:#509092;
	font-size:0.6em;*/
	color:#000;
	font-size:0.7em;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:5px;
}
.descripcionProducto{
	color:#B12B2E;
	text-transform:capitalize;
	font-size:0.6em;
	font-weight:bold;
	padding-left:5px;
}
.precioProducto{
	color:#B12B2E;
	text-transform:capitalize;
	font-size:0.7em;
	font-weight:bold;
	padding-left:5px;
	float:left;
	margin-right:5px;
	margin-top:14px;
	position:absolute;

}
.imagenProducto{
	height:110px;
	display:block;
}
.botonesProducto{
	display:block;
	float:right;
	cursor:pointer;
	/*Mat, agrego lo de abajo*/
	/*margin-right:10px;*/
	/*margin-top:0px;*/
	position:absolute;
	left:88px;
	top:185px
}
.imgbotonesProducto{
	/*Mat*/
	/*margin-top:5px;*/
	/*margin-top:30px;*/
}
.headerProducto{
	/*min-height:28px;*/
	/*Mat, agrego lo de abajo*/
	min-height:38px;
	margin-top:8px;
}
.paginas{
	float:left;
	/*padding-left:170px;*/
	letter-spacing:0px; 
	/*margin-left: 3px;*/
	margin-left:60px;
	padding-top:20px;
}
.paginas li{
	display:block;
	float:left;
	color:#B12B2E;
	font-size:10px;
	text-decoration:none;
	letter-spacing:0px;
	padding-left:3px;
}
.paginas li:hover{
	color:#B12B2E;
}
.titPaginador{
	color:#FFF;
}
.resultado_busqueda_productos{
	margin-top:16px;
	float:left;
	position:relative;
}
.catalogo_default #me-de-izquierda{
	/*background-image:url(../skin/frontendv3/default/img/bck_degradado.gif);*/
	background-image:url(../img/divs2/me-de-izquierda-blank.jpg);
}
.imgSearchProducto{
	/*max-height:100%;*/
	max-width:95%;
	/*Mat, agrego lo de abajo*/
	margin-top:10px;
}
.imagenProducto{
	text-align:center;
}

.catalogo_ver_producto #me-de-izquierda{
	padding-left:39px;
	padding-right:40px;
	padding-top:30px;
	width:450px;/*529-padding-rihgt y left*/
	height:290px;/*320-padding-top*/
}
.catalogo_ver_producto .producto_left{
	float:left;
}
.catalogo_ver_producto .producto_right{
	float:left;
}
.catalogo_ver_producto .imagenes{
	width:140px;
}
.catalogo_ver_producto .imagenes .thumbnails{
	display:block;
}
.catalogo_ver_producto .imagenes .thumbnails ul{
	padding-left:5px;
}
.catalogo_ver_producto .imagenes .thumbnails li{
	float:left;
	margin-left: 6px;
	border: 1px solid #484F55;
	width:34px;
	height:34px;
	text-align:center;
	background:#FFFFFF;
}
.catalogo_ver_producto .imagenes .thumbnails img{
	max-height: 34px;
	max-width: 34px;
}
* html .catalogo_ver_producto .imagenes .thumbnails img { 
   /*height: expression( this.scrollHeight > 34 ? "34px" : "auto" ); /* sets max-width for IE */
}
.catalogo_ver_producto .imagenes .show_box{
	height:105px;
}
.catalogo_ver_producto .imagenes .show_box .ampliar{
	width:28px;
	height:100%;
	float:left;
	position:relative;
}
.catalogo_ver_producto .imagenes .show_box .ampliar a{
	bottom:0;
	position:absolute;
	right:0;
}
.catalogo_ver_producto .imagenes .image_box{
	height:100%;
	float:left;
}
.catalogo_ver_producto .imagenes .image_box img{
	max-height:105px;
	max-width:104px;
}
.imagenes hr{
	margin:8px 0;
}
.catalogo_ver_producto .precio{
	/*Mat, le cambio el color a blanco*/
	/*color:#B92711;*/
	color:#FFFFFF;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	/*Mat, le agrego el line height para que no quede tan pegado al stock. También le comento el align*/
	/*text-align:center;*/
	line-height:30px;
	
}
.catalogo_ver_producto .marca,
.cart_content_list .marca{
	color:#FFFFFF;
	font-family:Helvetica;
	/*Mat, subo un punto en la fuente*/
	/*font-size:14px;*/
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
}
.catalogo_ver_producto .nombre,
.cart_content_list .nombre{
/*Mat, le cambio el color a gris al 20%*/
	/*color:#B92711;*/
	color:#D3D3D3;
	font-family:helvetica;
	/*Mat, subo un punto en la fuente*/
	/*font-size:13px;*/
	font-size:14px;
	font-weight:bold;
}
.catalogo_ver_producto .titulo_producto{
	padding-bottom: 17px;
	/*Mat, comento el padding de abajo para que en la pantalla de ver detalles no aparezca desplazado*/
	/*padding-left:28px;*/
}
/*Mat, subo un punto en la fuente y le cambio el color a gris al 20%*/
.catalogo_ver_producto .producto_stock {
	font-size:11px;
}
.catalogo_ver_producto .producto_right{
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	line-height:7px;
	line-height:12px;
	text-decoration:none;
}
.catalogo_ver_producto .producto_descripcion{
	min-height: 122px;
	max-width:300px;
	/*Mat, subo un punto en la fuente*/
	font-size:12px;
}
.catalogo_ver_producto .producto_right{
	max-width:310px;
	width:310px;
	overflow:hidden;
}
.catalogo_ver_producto #me-de-izquierda select{
	border-color: #6F747A;
}
.catalogo_ver_producto .anadir_carrito{
	display:block;
	padding-top: 4px;
}
.catalogo_ver_producto .fecha_box{
	margin-bottom:15px;
}
.catalogo_ver_producto .fecha_box p{
	margin:0px;
}
.catalogo_ver_producto .fecha_ingreso{
	margin-top:2px;
	/*Mat, cambio el color a gris al 20%*/
	/*color:#B92711;*/
	color:#D3D3D3;
	font-family:helvetica;
	font-size:12px;
	font-weight:bold;
}

.botonera p{
	margin-top: 16px;
	margin-bottom:0;
}
.ingreso{
	margin-top:0px;
}
.texto1_empresa{
	
}

.registro_usuario fieldset{
border:medium none;
display:block;
float:left;
width:264px;
}
.modulo_usuario #me-de-izquierda{
	position:relative;
	background-image:url(../img/divs2/registracion/me-de-izquierda-blank.jpg);
	height:262px;
	padding-top:58px;
	
padding-bottom:39px;
padding-top:19px;
}
.registro_usuario .fields_left{
	padding-left:30px;
	width:263px;
}
.registro_usuario .fields_right{
	padding-left:30px;
	padding-right:10px;
	width:195px;
}
.registro_usuario fieldset div{
	clear:both;
}
.registro_usuario #cod_area{
	width:36px;
	_width:34px;
}
.registro_usuario #telefono{
	width:70px;
}
.registro_usuario fieldset div a,
.registro_usuario fieldset div label,
.registro_usuario fieldset div span{
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:normal;
	float:left;
}
.registro_usuario fieldset div a{
	float:right;
	font-size:9px;
	padding-top:2px;
}
.registro_usuario fieldset div.telefono a{
	float:left;
}
.registro_usuario fieldset div.telefono span{
	width:66px;
}
.registro_usuario fieldset div input,.registro_usuario fieldset div select{
background-color:#C5C6C7;
border-color:#61666B;
float:right;
}
.registro_usuario fieldset div.telefono input,.registro_usuario fieldset div.telefono select{
	float:left;
}
.registro_usuario .fields_left div input,.registro_usuario .fields_left div select{
	width:195px;
}
.registro_usuario .fields_right div input{
	width:185px;
}
.registro_usuario .fields_right .userdata{
}
.registro_usuario .fields_right .userdata input{
	width:110px;
}
.registro_usuario .fields_right .userdata span{
	
}
.registro_usuario #newsletter{
	float:none;
	margin-left:10px;
	margin-top:21px;
	width:auto;
}
.registro_usuario .fields_right label{
	font-size:10px;
	float:none;
}
.registro_usuario .fields_right br{
	/*margin-bottom:20px;*/
}
.registro_usuario .fields_right .userdata .enviar{
	background:none;
	background-image:url(../img/bck_enviar.gif);
	height:18px;
	width:67px;
	margin-right:45px;
	margin-top:10px;
}
#form_registro_usuario{
	position:relative;
}
.registro_usuario .txttitle{
	background-image:url(../img/divs2/registracion/txttitle.jpg);
	height:33px;
	width:124px;
/*
	position:absolute;
	left:37px;
	top:-39px;*/
background-repeat:no-repeat;
margin-left:37px;
padding-bottom:6px;
}
.modulo_usuario #me-de-izquierda *{
	/*color:#FFFFFF;*/
	color:black;
}
.box-data, .cart_content_list .cart-content{
	/*background-image:url(../img/cart/content/background.jpg);*/
	height:285px;
	width:499px;
	margin:10px 0px 0px 15px;
}
.box-data-left, .cart_content_list .cart-content-left{
	background-image:url(../img/cart/content/background-left.gif);
	float:left;
	width:13px;
	height: 100%;
}
.box-data-right, .cart_content_list .cart-content-right{
	background-image:url(../img/cart/content/background-right.gif);
	width:13px;
	float:left;
	height: 100%;
}
.box-data-middle, .cart_content_list .cart-content-middle{
	background-image:url(../img/cart/content/background-middle.jpg);
	float:left;
	height: 100%;
	width:473px;
	overflow:hidden;
}
.box-data-titulos, .cart_content_list .cart-content-titulos{
	padding-top:5px;
	height:21px;
	margin-top:4px;
	width:100%;
}
.box-data-titulos *, .cart_content_list .cart-content-titulos *{
	color:#6A6A6A;
display:block;
float:left;
font-size:10px;
text-align:center;
}
.cart_content_list .cart-content-titulos h1{
	width:43px;
}
.cart_content_list .cart-content-titulos h2{
	width:198px;
}
.cart_content_list .cart-content-titulos h3{
	width:123px;
}
.cart_content_list .cart-content-titulos h4{
	width:60px;
}
.cart_content_list .cart-content-productos{
	margin-top:1px;
	height:162px;
}
.cart_content_list .cart-content-productos-scrolled{
	overflow-y:scroll;
}
.cart_content_list .cart-content-producto{
	height:81px;
	padding-top:25px;
	height:56px;
	border-bottom:1px solid #E1E1E1;
}
.cart_content_list .cart-content-productos-scrolled .cart-content-producto{
	height:55px;
}

.cart_content_list .cart-content-total{
	height:38px;
	border-bottom:1px solid #E1E1E1;
}
.box-data-buttons, .cart_content_list .cart-content-buttons{
	height:25px;
	padding-top:20px;
	position:relative;
}
.cart_content_list .cart-content-producto .col1,
.cart_content_list .cart-content-producto .col2,
.cart_content_list .cart-content-producto .col3,
.cart_content_list .cart-content-producto .col4{
	float:left;
	display:block;
}

.cart_content_list .cart-content-producto .col1{
	padding:0 15px;
	width:13px;
	padding-top:4px;
	overflow:hidden;
}
.cart_content_list .cart-content-producto .col2{
	width:200px;
	overflow:hidden;
}
.cart_content_list .cart-content-titulos-scrolled h2,
.cart_content_list .cart-content-productos-scrolled .cart-content-producto .col2{
	width:180px;
	overflow:hidden;
}
.cart_content_list .cart-content-producto .col3{
	width:120px;
	overflow:hidden;
}
.cart_content_list .cart-content-producto .col3 select{
	display:block;
	width:53px;
	margin-left:14px;
}
.cart_content_list .cart-content-producto .col3 span{
display:block;
font-size:13px;
font-weight:bold;
padding-top:10px;
}
.cart_content_list .cart-content-producto .col4{
	width:110px;
	overflow:hidden;
}
.cart_content_list .cart-content-producto .col4 h1{
	color:#569192;
	font-size:16px;
	font-family:Georgia;
}
.cart_content_list .cart-content-producto .col4 h2{
	color:#569192;
	font-size:22px;
	font-family:Georgia;
	margin-top:4px;
}
.cart_content_list .marca{
	color:#000000;
}
.cart_content_list .nombre{
}
.box-data-total h2,
.cart_content_list .cart-content-total h2{
	color:#569192;
	font-size:22px;
	font-family:Georgia;
}
.cart_content_list .cart-content-total h2{
	padding-top:4px;
	padding-left:363px;
}

.box-data-buttons *, .cart-content-buttons *{
	font-size:10px;
}
.cart-content-buttons select{
	width:35px;
}
.cart-content-buttons .btn_sumar_a_carro{
	background-image: url(../img/botones/green_width_120.gif);
	height:15px;
	width:120px;
	font-size:11px;

text-align:center;
}
.cart-content-buttons .btn_actualizar{
	background-image: url(../img/botones/green_width_85.gif);
	height:15px;
	width:85px;
	font-size:11px;

text-align:center;
}
.box-data-buttons .btn_continuar, .cart-content-buttons .btn_anular,
.box-data-buttons .btn_continuar, .cart-content-buttons .btn_comprar,
.box-data-buttons .btn_continuar, .cart-content-buttons .btn_continuar{
/*	background-image: url(../img/botones/bordo_width_85.gif);*/
	background-image: url(../img/botones/bordo_width_138.gif);
	height:15px;
/*	width:85px; */
	width:138px;
	font-size:11px;

text-align:center;
}
.box-data-buttons div, .cart-content-buttons div{
	float:left;
	margin:0px 3px;
}
.box-data-buttons a div, .cart-content-buttons a div{
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
}
.box-data-buttons .botones, .cart-content-buttons .botones{
	left:142px;
	position:absolute;
}
.cart_opciones_envio .box-data-titulos{
	padding-left:10px;
}
.carrito{
	position:relative;
	text-align:right;
}
.carrito div{
	
}
.carrito label{
	display:block;
	margin-top:25px;
}
.carrito div label{
	margin-top:0px;
}
.carrito div label *{
	font-size:12px;
}
.user_data_box{
	padding-left:13px;
	padding-top:10px;
}
.user_data_box label{
	font-weight:normal;color:#FFFFFF;
	
}
.user_data_box .links{
	margin-top:10px;
}
.user_data_box a, .user_data_box a:visited{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	
	border-left:1px dotted #FFFFFF;
	border-right:1px dotted #FFFFFF;
	display:block;
	float:left;
	padding:0 5px;
	clear:both;
	width:130px;
}
.user_data_box a:hover{
	background-color:#DDDDDD;
	color:#000000;
}
.box-data-body div {
	padding-bottom:14px;
}
.box-data-body div span *{
	float:left;
}
.box-data-body div span select{
	width:110px;
}
.box-data-body div span span{
	display:block;
	width:132px;
	font-size:10px;
	font-weight:bold;
}
.box-data-body label {
	display:block;
	width:136px;
}
.cart_opciones_envio .box-data-buttons {
	
}
.cart_opciones_envio .box-data-total h2{
	display:inline;
}
.cart_opciones_envio .box-data-middle label{
	color:#000000;
	font-weight:normal;
	font-size:14px;
}
/*Mat*/
.box-info {
	position:absolute;
	top:110px;
	left:270px;
	z-index:100;
}
.box-data-middle{
	position:relative;
}
/*Mat, saco esto de abajo .cart_opciones_envio .box-data-body,*/
.cart_opciones_envio .box-left,
.cart_opciones_envio .box-info,
.cart_opciones_envio .box-data-buttons,
.cart_opciones_envio .box-data-total{
	float:left;
}
.cart_opciones_envio .box-left,
.cart_opciones_envio .box-data-body,
.cart_opciones_envio .box-data-total{
	width:268px;
}
.cart_opciones_envio .box-data-body{
	padding-top:7px;
}
.cart_opciones_envio .box-data-buttons{
	
}
.cart_opciones_envio .btn_guardar{
	background-image:url(../img/botones/green_width_191.gif);
	background-repeat:no-repeat;
	padding:0;
	width:191px;
	font-size:11px;
	text-align:center;
	height:15px;
	margin:0;
	float:none;
}
.cart_opciones_envio .btn_terminar{
	background-image:url(../img/botones/bordo_width_138.gif);
	background-repeat:no-repeat;
	padding:0;
	float:none;
	width:138px;
	font-size:11px;
	text-align:center;
	height:15px;
	margin:0;
	margin-left:23px;
}
.cart_opciones_envio .box-info,
.cart_opciones_envio .box-data-buttons{
	width:204px;
}
.cart_opciones_envio .box-info p b{
	color:#880C14;
}
.cart_opciones_envio .box-info p{
	/*margin-left:25px;
	margin-top:78px;*/
	font-size:13px;
}
.cart_opciones_envio .box-data-buttons{
	text-align:center;
	height:auto;
	padding:0;
	margin-top:10px;
}
.cart_opciones_envio .box-data-buttons .botones{
	position:inherit;
	left:0px;
}
.cart_pre_buy .cart-content-producto{
	height: 50px;
	padding-top:5px;
}
/*.cart_pre_buy .cart-content-producto{
	height: 29px;
}*/
.cart_pre_buy .cart-content-productos{
	height:112px;
}
.opciones_envio_info{
	float:left;
	width:270px;
}
.cart_pre_buy .cart-content-buttons{
	float:left;
	width:200px;
}
.cart_pre_buy .cart-content-buttons .botones{
	left:0px;
	position:inherit;
}
.cart_pre_buy .btn_volver{
	background-image:url(../img/botones/green_width_120.gif);
	background-repeat:no-repeat;
	padding:0;
	width:120px;
	font-size:11px;
	text-align:center;
	height:15px;
	margin:0;
	float:none;
}
.cart_pre_buy .btn_volver{
	margin-bottom:4px;
	margin-top:27px;
}
.cart_pre_buy .btn_pedido,
.cart_pre_buy .btn_registrarme{
	background-image:url(../img/botones/bordo_width_120.gif);
	background-repeat:no-repeat;
	padding:0;
	width:120px;
	font-size:11px;
	text-align:center;
	height:15px;
	margin:0;
	float:none;
	
}
#ar-de-arriba{
	position:relative;
}
.popup .texto_fax{
	position:relative;
	left:0;
}
.texto_fax{
	bottom:6px;
	padding:0;
	position:absolute;
	right:60px;
	width:750px;
}
.texto_fax a{
	color:#FFFFFF;
	text-decoration:none;
}

.empty_template #ar-izquierda{/* LOGO 	EMPRESA */
	width: 216px;
	height: 303px;
	float:left;
	background: url(../img/divs2/ar-izquierda.jpg);
}
.empty_template #ar-de-ab-iz-abajo { /* IMG MOTO 		EMPRESA */
	width: 531px;
	height: 152px;
	float:left;
	background: url(../img/divs2/ar-de-ab-iz-abajo.jpg)
}
.empty_template #me-iz-arriba{ /* BOTONERA 		EMPRESA */
	width: 217px;
	height: 240px;
	float:left;
	background: url(../img/divs2/me-iz-arriba.jpg)
}
.empty_template #me-de-izquierda { /* CONTENIDO 		EMPRESA*/
	width: 529px;
	height: 320px;
	float:left;
	background: url(../img/divs2/me-de-izquierda-blank.jpg)
}
.empty_template #me-de-izquierda *{
	color:#FFFFFF;
}
.empty_template #me-de-izquierda h1{
	font-size:24px;
}
.empty_template #me-de-izquierda h2{
	font-size:20px;
}
.pagina_gps #me-de-izquierda .contenido{
	padding:10px 20px;
}

.novedades_page #ar-izquierda { /* LOGO 	NOVEDADES */
	width: 216px;
	height: 303px;
	float:left;
	background: url(../img/divs2/novedades/ar-izquierda.jpg)
}
.novedades_page #ar-de-ab-iz-abajo { /* IMG MOTO 		NOVEDADES */
	width: 531px;
	height: 152px;
	float:left;
	background: url(../img/divs2/novedades/ar-de-ab-iz-abajo.jpg)
}
.novedades_page #me-iz-arriba{ /* BOTONERA 		NOVEDADES */
	width: 217px;
	height: 240px;
	float:left;
	background: url(../img/divs2/novedades/me-iz-arriba.jpg)
}
.novedades_page #me-de-izquierda { /* CONTENIDO 		NOVEDADES */
	width: 529px;
	height: 320px;
	float:left;
	background: url(../img/divs2/novedades/me-de-izquierda-blank.jpg);
}
.novedades_page #me-de-izquierda a {color:#FFFFFF}
.contenido_novedad{
	padding:50px 10px 5px;
	height:248px;
	position:relative;
}
.scroller_novedades{
	height:248px;
	overflow-y:scroll;
}
.contenido_novedad h1{
	color:white;
	position:absolute;
	right:88px;
	top:26px;
	font-size:18px;
}
.contenido_novedad .volver{
	position:absolute;
	right:28px;
	top:26px;
	cursor:pointer;
}
.pagina_contacto .texto3_contacto{
	margin-top:52px;
}
.texto1_contacto, .texto3_contacto, .texto1_contacto a{
}
.pagina_contacto .texto3_contacto p{
	height:19.5px;
}
.googlemaps_content{
	padding:5px 5px 0;
}
.home_page #ab-de-izquierda{
	background-image:url(../img/divs/ab-de-izquierda2.jpg);
}
.texto_rukka{
	
}
.home_page .texto_rukka{
	padding-left:144px;
	width:273px;
}
#pie .texto_fax{
	padding: 0 0 0 44px;
	top:1px;
	display:block;
}
#pie{
	padding-top:24px;
	background-repeat:no-repeat;
	position:relative;
}
#medio,#me-izquierda,#me-derecha,#me-de-izquierda,#me-de-derecha{
	height:320px;
}
.home_page #medio,.home_page #me-izquierda,.home_page #me-derecha,.home_page #me-de-izquierda,.home_page #me-de-derecha{
	height:240px;
}
.color_tel_fax {
	color:#6FA8A9;
}

.catalogo_expandido #me-de-izquierda{
	background-image:url(../img/divs2/me-de-izquierda-700-blank-shadow.jpg);
	background-repeat:no-repeat;
	width:727px;
}

.popup{
	background-image:url(../img/divs2/bkpop.jpg);
	background-repeat:no-repeat;
	padding:153px 0 0 167px;
}
.popup .texto_fax{
	float: none;
	position:inherit;
	margin: 70px 0 14px;
	width:363px;
}
.popup .textopie{
	
	padding:4px 5px 0 0;
}
.popup .tres60{
	
}
.popup .main_content{
	margin-left:32px;
}
.advanced_search_form input{
	width:126px;
	display:block;
}
.advanced_search_form input[type=hidden]{
	display:none;
}
.advanced_search_form .search_box{
	position:relative;
}

/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3  .autocomplete_box_reference{
	position:relative;
	height:1px;
	width:1px;
	float:none;
	display:block;
	margin:0px;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box{
	z-index:666;
	position:absolute;
	/*bottom: -20px;*/
	top:0;
	left:0px;
	height:auto/*20px*/;
	background-color:white;
	margin:0px;
	margin-left:1px;
	/*width:126px;*/
	width:auto;
	display:none;
	border:1px solid black;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box ul{
	
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box ul li{
	font-size:10px;
	padding: 2px 5px;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box ul li.selected{
	background-color:#DDDDEE;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box ul .li_hover{
	background-color:#EEEEFF;
	cursor:pointer;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box .buscando{
	margin:0;
	padding-left: 16px;
	background-image:url('../img/ajax-loader2.gif');
	background-repeat:no-repeat;
	width: 110px;
	overflow:hidden;
}

/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box .min_width{
	display:block;
	height:1px;
	width:126px;
	clear:both;
}
/*.catalogo_default #ar-de-ab-iz-abajo .advanced_search_form*/.contenedor_filtros_busqueda_producto #hack1 .hack2 .hack3 .autocomplete_box ul li{
	white-space:nowrap;
}
#hack1 .hack2 .hack3 input,
#hack1 .hack2 .hack3 select{
	display:block;
}
#hack1 .hack2 .hack3 .acciones{
	margin-top:7px;
}
#hack1 .hack2 .hack3 .acciones input{
	display:inline;
	cursor:pointer;
}
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro #hack1,
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro #hack1 .hack2,
.catalogo_default #ar-de-ab-iz-abajo .search_form .fieldset_filtro #hack1 .hack2 .hack3{
	margin:0;
}
.formwrapper{
	
}
.show_filtros{
	width: 270px;
	margin-left:16px;
	
}
.show_filtros2{
	width: 272px;
}
.show_filtros1{
	
}
.show_filtro{
	margin:0px;
	padding:0px;
	float:left;
	
	margin-right:2px;
	border: 1px solid #FFDDAA;
	background-color: #479496;
	color:white;
	position:relative;
}
.show_filtro_label{
/*	width:9000px;*/
	width:86px;/*width=89px -2px de bordes laterales - 2px margin-left*/
	overflow:hidden;
	white-space:nowrap;
}
.show_filtros2 .show_filtro_label{
	width:132px;
}
.show_filtros1 .show_filtro_label{
	width: 268px;
}
.panel_show_filtro{
	position:absolute;
	bottom:-16px;
	height:16px;
	right: 0;
	z-index:9000;
	display:none;
}
.show_filtro_hover .panel_show_filtro{
	/*background-color:#ff0000;*/
	display:block;
}
.panel_show_filtro_button{
	height:16px;
	width:16px;
	float:right;
	overflow: hidden;
	cursor:pointer;
}
.panel_show_filtro_edit{
	background-image:url(../img/icons/pencil_bkgray.jpg);
}

.panel_show_filtro_delete{
	background-image:url(../img/icons/delete_bkgray.jpg);
}

.mostrarMarcas .item{
	float:left;
	margin-right:6px;
	text-align:center;
}
.mostrarMarcas .clearer{
	float:none;
}
.mostrarMarcas .fila_marca{
	float:left;
	margin-bottom:6px;
}
.resultado_busqueda_marcas{
	padding:21px 0px 0px 24px;
}
.buscador_productos{
	position:relative;
}
.filtro_marca_image{
	position:absolute;
	bottom:0;
	left:-54px;
}
.recover_password_usuario #me-de-izquierda .fields_left,
.form_recover_password_usuario #me-de-izquierda .fields_left{
	padding:20px;
}

.news_page #me-de-izquierda{
	padding-top:74px;
	height:246px;/*320-74*/
	overflow:hidden;
}
.news_page .texto1_novedades{
	margin-top:0px;
	height:101px;
}
.news_page .texto3_novedades{
	margin-top:109px;
}
.news_page .contenedor_novedades{
	float:left;
}

.testimoniales #me-de-izquierda{
	padding-top:45px;
	height:275px;/*320-45*/
	overflow:hidden;
}
.testimoniales .texto1_testimoniales{
	margin-top:20px;
}
.advanced_search_form_use_blockui .fieldset_filtro{
	display:none;
}
.advanced_search_form_use_blockui .show_filtros{
	margin-top:5px;
}
.advanced_search_form_use_blockui .filtro_marca_image{
	top:65px;
}
.producto_stock label{
	/*Mat, cambio el color a gris al 20%*/
	/*color: #B92711;*/
	color: #D3D3D3;
	color: #D3D3D3;
}
.stockProducto{
	color:#B12B2E;
	text-transform:capitalize;
	font-size:0.6em;
	font-weight:bold;
	padding-left:5px;
	float:left;
	margin-right:5px;
	margin-top:2px;
	position:absolute;
	/*Mat*/
	top:188px;
}

.precioProducto{
	/*Mat*/
	/*margin-top:5px;*/
	margin-top:20px;
	top:155px;
}
#arriba{
	margin-top:-33px;
}
#contenedor {
height:640px;
overflow:hidden;
}

#form_contacto_cliente{
	position:relative;
}
#form_registro_usuario .capcha_container,
#form_contacto_cliente .capcha_container{
	position:relative;
	_position:static;
	clear:none;
}
#form_registro_usuario .capcha_container br,
#form_contacto_cliente .capcha_container br{
	display:none;
}
#form_registro_usuario .capcha_container img,
#form_contacto_cliente .capcha_container img{
	position:absolute;
	top:0;
	right:-230px;
	_right:-180px;
	_top:161px;
	display:none;
	margin:0;
}
#form_contacto_cliente .capcha_container img{
	_top:131px;
}
#form_registro_usuario .capcha_container input,
#form_contacto_cliente .capcha_container input{
	width:auto;
}
#form_registro_usuario .capcha_container_hover img,
#form_contacto_cliente .capcha_container_hover img{
	display:block;
}


.contenedor_novedades .texto1_novedades{
	background-position:20px 0px;
	background-repeat:no-repeat;
}

#contenedor.popup{width:550px;}


.catalogo_default #ar-de-ab-iz-abajo .search_form .filtro_empotrado div{
	margin:0;
	width:auto;
	display:inline;
}
.filtro_empotrado #hack1 .hack2 .hack3 div {
	float:none;
}
.filtro_empotrado{
	display:inline-block;
}
#ar-de-ab-iz-abajo{
	z-index:10;
}
#hack1 .hack2 .hack3 .acciones .btn_agregar_filtro{
	width:auto;
}

.cart-content-buttons .btn_comprar,
.cart-content-buttons .btn_anular{
background-image:url(../img/botones/bordo_width_120.gif);
height:15px;
text-align:center;
width:120px;
}
.cart-content-buttons .botones {
right:-30px;
left:auto;
display:block;
position:relative;
width:380px;
}
.nombreProducto{
line-height:15px;
padding-left:0px;
}
.marcaProducto{
padding-left:0px;
}
.headerProducto{
padding-left:5px;
}
.box-info{
top:80px;
}
.cart_content_list .cart-content-buttons{
padding-top:0px;	
}
.cart_content_list .cart-content-producto .nombre{
	color:black;
}

.buscador_marcas{display:none;}
.formulario_logeo{
margin-bottom:0;
}

.home_page .texto_rukka{
	padding-top:13px;
	width:368px;
}

#texto_busqueda:hover{background-color:white;}

#contenedor.popup  {
	height:auto;
}
.registro_usuario .fields_left{
	padding-bottom:0;
	padding-top:0;
	padding-left:15px;
}
.registro_usuario .fields_right{
	padding-bottom:0;
	padding-top:0;
	margin-left:0;
	padding-left:25px;
}
.registro_usuario .txttitle{
	padding-bottom:0;
}

.registro_usuario fieldset div a, .registro_usuario fieldset div label, .registro_usuario fieldset div span{
	font-size:11px;
}
.catalogo_ver_producto .producto_right{
	padding-bottom:27px;
}

.selectores_tab{
	margin-top:26px;
	text-align:center;
	margin-left:5px;
}
.selectores_tab .descripcion{
	margin-top:64px;
	color:white;
	text-align:left;
	margin:50px 10px 0;
}
.selectores_tab .enlace a{
	display:block;
	height:100%;
	width:100%;
}
.selectores_tab .enlace{
	position:absolute;
	bottom:10px;
	right:32px;
	width:100px;
	height:20px;
	/*background-color:blue;*/
}
.selectores_tab .selector{
	width:170px;
	height:232px;
	float:left;
	margin-left:2px;
	background-repeat:no-repeat;
	position:relative;
}
#selector_protege_tu_cuerpo{
	background-image:url(../img/desc/protege_tu_cuerpo.png);
}
#selector_completa_tu_moto{
	background-image:url(../img/desc/completa_tu_moto.png);
}
#selector_premium{
	background-image:url(../img/desc/premium.png);
}
.cart_opciones_envio .box-data-buttons{
	bottom:26px;
	position:absolute;
	right:0;
}
.catalogo_boton_volver, .ver_talles{
	cursor:pointer;
	background-image:url("../img/botones/green_width_120.gif");
	background-repeat:no-repeat;
	float:none;
	font-size:11px;
	height:15px;
	margin:0;
	padding:0;
	text-align:center;
	width:120px;
	margin-left:5px;
	color:white;
}
.news_page .texto3_novedades{
	text-align:left;
}
.catalogo_boton_volver{
	background-image:url("../img/botones/bordo_width_120.gif");
	margin-top:10px;
}
.cart-content h1, .cart-content h2, .cart-content h3, .cart-content h4{
	margin:0px;
}