<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Barrio.xml</admin>
		<admin>Admin_Barrio_Multimodo.xml</admin>
		<ajax>Admin_Barrio_Multimodo.xml</ajax>
	</layouts>
	<routers>
		<Admin_Barrio_Router>administrator/barrio</Admin_Barrio_Router>
	</routers>
</global>