@charset "utf-8";
/* CSS Document */

body {background: #515151;
margin: 0px }

#contenedor {
	width: 960px;
	height: 698px;
	margin:auto
	}

a img{border:0}
#form1{
	margin:0px;
}
#arriba {
	width: 960px;
	height: 303px
	}
	
	#ar-izquierda { /* LOGO 	EMPRESA */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/empresa/ar-izquierda.jpg)
		}
	#ar-izquierda-como { /* LOGO 	COMO COMPRAR */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/como/ar-izquierda.jpg)
		}
	#ar-izquierda-porque { /* LOGO 	PORQUE COMPRAR EN BIG */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/porque/ar-izquierda.jpg)
		}
	#ar-izquierda-novedades { /* LOGO 	NOVEDADES */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/novedades/ar-izquierda.jpg)
		}
	#ar-izquierda-testimoniales { /* LOGO 	TESTIMONIALES */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/testimoniales/ar-izquierda.jpg)
		}
	#ar-izquierda-registracion { /* LOGO 	REGISTRACION */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/registracion/ar-izquierda.jpg)
		}
	#ar-izquierda-contactenos { /* LOGO 	CONTACTENOS */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/contactenos/ar-izquierda.jpg)
		}
	#ar-izquierda-catalogo { /* LOGO 	CATALOGO */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs2/catalogo/ar-izquierda.jpg)
		}
		
	#ar-derecha {
		width: 744px;
		height: 303px;
		float:right
		}
		#ar-de-arriba { /* TEL, FAX.. */
			width: 744px;
			height: 87px;
			background: url(../img/divs2/ar-de-arriba.jpg);
			}
			.texto_fax {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:8px; color:#FFFFFF;
			padding-top:70px;
			padding-left:18px
			}
			.color_tel_fax {color:#6f8899}
			.color_linea_tel_fax {color:#b2050d}
			
		#ar-de-abajo {
			width: 744px;
			height: 216px
			}
			#ar-de-ab-izquierda {
				width: 531px;
				height: 216px;
				float:left
				}
				#ar-de-ab-iz-arriba { /* 3 BOTONES SOLAPAS */
				width: 531px;
				height: 64px;
				float:left;
				background: url(../img/divs2/ar-de-ab-iz-arriba.jpg)
				}
				.solapas {
				padding-left:46px
				}
				#ar-de-ab-iz-abajo { /* IMG MOTO 		EMPRESA */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/empresa/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-como { /* IMG MOTO 		COMO COMPRAR */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/como/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-porque { /* IMG MOTO 		PORQUE COMPRAR EN BIG */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/porque/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-novedades { /* IMG MOTO 		NOVEDADES */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/novedades/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-testimoniales { /* IMG MOTO 		TESTIMONIALES */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/testimoniales/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-registracion { /* IMG MOTO 		REGISTRACION */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/registracion/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-contactenos { /* IMG MOTO 		CONTACTENOS */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/contactenos/ar-de-ab-iz-abajo.jpg)
				}
				#ar-de-ab-iz-abajo-catalogo { /* CARRITO 		CATALOGO */
				width: 531px;
				height: 152px;
				float:left;
				background: url(../img/divs2/catalogo/ar-de-ab-iz-abajo.jpg)
				}
				
			#ar-de-ab-derecha {
				width: 213px;
				height: 216px;
				float:right;
				}
				#ar-de-ab-de-arriba { /* TTT */
				width: 213px;
				height: 64px;
				float:left;
				background: url(../img/divs2/ar-de-ab-de-arriba.jpg)
				}
				#ar-de-ab-de-abajo { /* LOGUIN */
				width: 213px;
				height: 152px;
				float:left;
				background: url(../img/divs2/ar-de-ab-de-abajo.jpg)
				}
				.loguin {
				width:213px;
				height:120px;
				margin-top:25px
				}
				.ingreso {
				font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#b9c5ce;
				height:20px;
				padding-left:23px
				}
				.usuario {
				background-image:url(../img/divs2/loguin_usuario.jpg);
				border:0;
				padding-left:30px
				}
				.contraseña {
				background-image:url(../img/divs2/loguin_contraseña.jpg);
				border:0;
				padding-left:30px;
				margin-top:3px
				}
				.boton {
				background-image:url(../img/divs2/loguin_boton.jpg);
				width:60px;
				height:17px;				
				font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#b92813; font-weight:bold;
				border:0;
				margin-left:24px;
				margin-top:10px;
				padding-bottom:5px
				}
				.olvido {
				font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#b9c5ce;
				padding-top:10px;
				padding-left:25px
				}
				.olvido a {
				color:#b9c5ce;
				}
#medio {
	width: 960px;
	height: 240px;
	}
	#me-izquierda {
	width: 217px;
	height: 240px;
	float:left;
	background: url(../img/divs2/empresa/me-iz-arriba.jpg);
	}
	
	#me-iz-arriba{ /* BOTONERA 		EMPRESA */
		width: 217px;
		height: 240px;
		float:left;
		
		}
	#me-iz-arriba-como{ /* BOTONERA 		COMO COMPRAR*/
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/como/me-iz-arriba.jpg)
		}
	#me-iz-arriba-porque{ /* BOTONERA 		PORQUE COMPRAR EN BIG */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/porque/me-iz-arriba.jpg)
		}
	#me-iz-arriba-novedades{ /* BOTONERA 		NOVEDADES */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/novedades/me-iz-arriba.jpg)
		}
	#me-iz-arriba-testimoniales{ /* BOTONERA 		TESTIMONIALES */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/testimoniales/me-iz-arriba.jpg)
		}
	#me-iz-arriba-registracion{ /* BOTONERA 		REGISTRACION */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/registracion/me-iz-arriba.jpg)
		}
	#me-iz-arriba-contactenos{ /* BOTONERA 		CONTACTENOS */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/contactenos/me-iz-arriba.jpg)
		}
	#me-iz-arriba-catalogo{ /* BOTONERA 		CATALOGO */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs2/catalogo/me-iz-arriba.jpg)
		}
		.botonera {
		padding-left:55px;
		padding-top:10px	
		}
		.botonera a {
		font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
		text-decoration:none;
		line-height:7px
		}
		
	#me-iz-abajo { /* VISTA 360º */
		width: 217px;
		height: 80px;
		float:left;
		background: url(../img/divs2/me-iz-abajo.jpg)
		}
		
	#me-derecha {
	width: 743px;
	height: 240px;
	float:right
	}
		#me-de-izquierda { /* CONTENIDO 		EMPRESA*/
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/empresa/me-de-izquierda.jpg)
			}
			.texto1_empresa {
			width:220px;
			height:230px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#FFFFFF;
			padding-left:44px
			}
			.siempre_empresa {
			width:236px;
			height:51px;
			float:right;
			margin-top:40px
			}
			.texto2_empresa {
			width:190px;
			height:100px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#FFFFFF;
			padding-right:30px;
			margin-top:5px
			}
		#me-de-izquierda-como { /* CONTENIDO 		COMO COMPRAR*/
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/como/me-de-izquierda.jpg)
			}
			.texto1_como {
			width:210px;
			height:230px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-left:73px;
			margin-top:45px
			}
			.texto2_como {
			width:155px;
			height:230px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-right:15px;
			margin-top:45px
			}
		#me-de-izquierda-porque { /* CONTENIDO 		PORQUE COMPRAR EN BIG */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/porque/me-de-izquierda.jpg)
			}
			.texto1_porque {
			width:220px;
			height:230px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#FFFFFF;
			padding-left:44px;
			margin-top:55px
			}
			.texto2_porque {
			width:190px;
			height:100px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#FFFFFF;
			padding-right:30px;
			margin-top:160px
			}
			.negrita {font-weight:bold}
		#me-de-izquierda-novedades { /* CONTENIDO 		NOVEDADES */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/novedades/me-de-izquierda.jpg);
			}
		#me-de-izquierda-novedades a {color:#FFFFFF}
			.texto1_novedades {
			width:155px;
			height:90px;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-left:125px;
			margin-top:73px
			}
			.texto2_novedades {
			width:155px;
			height:110px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-left:125px;
			padding-top:12px
			}
			.texto3_novedades {
			width:180px;
			height:100px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-right:40px;
			margin-top:20px
			}
			.color_novedades {color:#6ebdbf}
		#me-de-izquierda-testimoniales { /* CONTENIDO 		TESTIMONIALES */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/testimoniales/me-de-izquierda.jpg);
			}
			.texto1_testimoniales {
			width:320px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-left:45px;
			margin-top:80px
			}
			.texto2_testimoniales {
			width:320px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-left:45px;
			margin-top:25px
			}
			.color_testimoniales {color:#84e7eb; font-weight:bold}
		#me-de-izquierda-registracion { /* CONTENIDO 		REGISTRACION */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/registracion/me-de-izquierda.jpg);
			}
			.texto1_registracion {
			width:50px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-left:40px;
			margin-top:50px;
			line-height:21px
			}
			.texto1_registracion p {line-height:11px}
			.texto2_registracion {
			width:200px;
			float:left;
			font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-left:5px;
			margin-top:50px
			}
			.texto3_registracion {
			width:220px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-top:54px
			}
			.texto3_registracion p {line-height:11px}
			.texto4_reg {
			width:190px;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			padding-bottom:5px
			}
			.reg1_nombre {
			width:185px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg1.jpg);
			border:0;
			padding-left:3px;
			margin-top:2px
			}
			.reg2_marcas {
			width:178px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg2.jpg);
			border:0;
			margin-top:2px;
			padding-left:2px
			}
			.reg3_usuario {
			width:90px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg3.jpg);
			border:0;
			margin-top:2px;
			padding-left:2px
			}
			.reg4_num {
			width:55px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg4.jpg);
			border:0;
			margin-top:1px
			}
			.reg5_cod {
			width:40px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg5.jpg);
			border:0;
			margin-top:1px
			}
			.boton_enviar {
			width:59px;
			height:17px;
			background-image:url(../img/divs2/registracion/enviar.jpg);
			border:0;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#b92813; font-weight:bold;
			padding-bottom:3px;
			margin-left:100px
			}
		#me-de-izquierda-contactenos { /* CONTENIDO 		CONTACTENOS */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/contactenos/me-de-izquierda.jpg);
			}
			.texto1_contacto {
			width:210px;
			height:230px;
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-left:44px;
			margin-top:55px
			}
			.texto1_contacto a {color:#FFFFFF}
			.texto3_contacto {
			width:50px;
			float:right;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-top:44px;
			margin-right:5px
			}
			.texto3_contacto p {line-height:11px}
			.texto2_contacto {
			width:135px;
			float:right;
			font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
			margin-left:5px;
			padding-right:15px;
			margin-top:50px
			}
			.con1_nombre {
			width:125px;
			height:17px;
			background-image:url(../img/divs2/registracion/reg1.jpg);
			border:0;
			padding-left:3px;
			margin-top:2px
			}
			.consulta {
			width:125px;
			height:60px;
			background-image:url(../img/divs2/contactenos/consulta.jpg);
			border:0;
			padding-left:3px;
			margin-top:3px
			}
			.boton_enviar_contacto {
			width:59px;
			height:17px;
			background-image:url(../img/divs2/registracion/enviar.jpg);
			border:0;
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#b92813; font-weight:bold;
			padding-bottom:3px;
			}
		#me-de-izquierda-catalogo { /* CONTENIDO 		CATALOGO */
			width: 529px;
			height: 320px;
			float:left;
			background: url(../img/divs2/catalogo/me-de-izquierda.jpg);
			}
		#me-de-derecha {
			width: 214px;
			height: 320px;
			float:right;
			background: url(../img/divs2/me-de-de-arriba.jpg);
			}
			#me-de-de-arriba { /* MOTO AMARILLA PRECIO */
			width:214px;
			height:240px;
			float:left;
			
			}
			.texto_moto1 {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#a8ccd7;
			padding-top:12px;
			padding-left:20px
			}
			.bmwk1200 {
			padding-left:20px
			}
			.precio_moto {
			font-size:24px;
			font-weight:bold;
			font-style:italic
			}
			#me-de-de-abajo { /* DESCRIPCION MOTO AMARILLA */
			width: 214px;
			height: 80px;
			float:left;
			background: url(../img/divs2/me-de-de-abajo.jpg)
			}
			.texto_moto2 {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#a8ccd7;
			padding-left:38px
			}
			.texto_moto2 a {
			color:#a8ccd7
			}
		li {line-height:12px}
		
		
		
		
#pie {
	width: 960px;
	height: 75px;
	background: url(../img/divs/pie.jpg)
	}
	.textopie {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#d1d7df;
	width:422px;
	float:left;
	padding-top:6px;
	padding-left:235px;
	}
	.tres60 {
	width:83px;
	height:23px;
	float:left
	}