@charset "utf-8";
/* CSS Document */

body {background: #515151;
margin: 0px }

#contenedor {
	width: 960px;
	height: 698px;
	margin:auto
	}

a {text-decoration:none}
a img{border:0}

#arriba {
	width: 960px;
	height: 303px
	}
	
	#ar-izquierda { /* LOGO */
		width: 216px;
		height: 303px;
		float:left;
		background: url(../img/divs/ar-izquierda.jpg)
		}
		
	#ar-derecha {
		width: 744px;
		height: 303px;
		float:right
		}
		#ar-de-arriba { /* TEL, FAX.. */
			width: 744px;
			height: 87px;
			background: url(../img/divs/ar-de-arriba.jpg);
			}
			.texto_fax {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:8px; color:#FFFFFF;
			padding-top:70px;
			padding-left:18px
			}
			.color_tel_fax {color:#6f8899}
			.color_linea_tel_fax {color:#b2050d}
			
		#ar-de-abajo {
			width: 744px;
			height: 216px
			}
			#ar-de-ab-izquierda { /* TTT, 3 BOTONES SOLAPAS */
				width: 531px;
				height: 216px;
				float:left;
				background: url(../img/divs/ar-de-ab-izquierda.jpg)
				}
				.solapas {
				padding-top:152px;
				padding-left:46px
				}
			#ar-de-ab-derecha { /* 2 BOTONES: FORO , CONTANOS */
				width: 213px;
				height: 216px;
				float:right;
				background: url(../img/divs/ar-de-ab-derecha.jpg)
				}
				.contanos {
				width:213px;
				height:89px;
				margin-top:100px
				}
#medio {
	width: 960px;
	height: 240px
	}
	#me-izquierda { /* BOTONERA */
		width: 217px;
		height: 240px;
		float:left;
		background: url(../img/divs/me-izquierda.jpg)
		}
		.botonera {
		padding-left:55px;
		padding-top:10px	
		}
		.botonera a {
		font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;
		text-decoration:none;
		line-height:7px
		}
		
	#me-derecha {
		width: 743px;
		height: 240px;
		float:right
		}
		#me-de-izquierda { /* VIDEOS */
			width: 529px;
			height: 240px;
			float:left;
			background: url(../img/divs/me-de-izquierda.jpg)
			}
		#me-de-derecha { /* MOTO AMARILLA PRECIO */
			width: 214px;
			height: 240px;
			float:right;
			background: url(../img/divs/me-de-derecha.jpg)
			}
			.texto_moto1 {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#a8ccd7;
			padding-top:12px;
			padding-left:20px
			}
			.bmwk1200 {
			padding-left:20px
			}
			.precio_moto {
			font-size:24px;
			font-weight:bold;
			font-style:italic
			}
			
#abajo {
	width: 960px;
	height: 80px
	}
	#ab-izquierda { /* VISTA 360º */
		width: 218px;
		height: 80px;
		float:left;
		background: url(../img/divs/ab-izquierda.jpg)
		}
	#ab-derecha {
		width: 742px;
		height: 80px;
		float:right
		}
		#ab-de-izquierda { /* RUKKA */
			width: 528px;
			height: 80px;
			float:left;
			background: url(../img/divs/ab-de-izquierda.jpg)
			}
			.texto_rukka {
			font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#cbe7f0;
			padding-top:18px;
			padding-left:120px
			}
			.rukka_color {color:#ff6600}
			
		#ab-de-derecha { /* DESCRIPCION MOTO AMARILLA */
			width: 214px;
			height: 80px;
			float:right;
			background: url(../img/divs/ab-de-derecha.jpg)
			}
			.texto_moto2 {
			font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#a8ccd7;
			padding-left:38px
			}
			.texto_moto2 a {
			color:#a8ccd7
			}
			.subrayado {
			text-decoration:underline
			}
		li {line-height:12px}

#pie {
	width: 960px;
	height: 75px;
	background: url(../img/divs/pie.jpg)
	}
	.textopie {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#d1d7df;
	width:422px;
	float:left;
	padding-top:6px;
	padding-left:235px;
	}
	.tres60 {
	width:83px;
	height:23px;
	float:left
	}